<div class="container">
  <div class="form-container">
      <div class="title">FIND CUSTOMER RESERVATIONS</div>
      <form [formGroup]="modelForm">
          <div class="customer-details">
              <input type="text" name="firstname" formControlName="firstname" placeholder="Firstname" required>
              <span *ngIf="formErrors.get('firstname')">{{ formErrors.get('firstname') | uppercase}}</span>
              <input type="text" name="lastname" formControlName="lastname" placeholder="Lastname" required>
              <span *ngIf="formErrors.get('lastname')">{{ formErrors.get('lastname') | uppercase}}</span>
              <input type="text" name="email" formControlName="email" placeholder="Email" required>
              <span *ngIf="formErrors.get('email')">{{ formErrors.get('email') | uppercase}}</span>
              <input type="text" name="phone" formControlName="phone" placeholder="Phone" required>
              <span *ngIf="formErrors.get('phone')">{{ formErrors.get('phone') | uppercase}}</span>
          </div>
      </form>
      <div class="buttons">
          <button class="add" (click)="onSubmit(modelForm)">FIND RESERVATIONS</button>
          <!-- <button class="back"(click)="onGoBack()">BACK</button> -->
      </div>
  </div>
  <p class="info" *ngIf="fetchedReservations.length < 1">NO INFO FOUND!</p>
  <div class="box" *ngIf="fetchedReservations.length >= 1">
    <div *ngFor="let reservation of fetchedReservations;" class="reservation">
      <p class="room_id">{{ reservation.room_id }}</p>
      <p class="status">{{ reservation.status | uppercase}}</p>
      <p class="start_date">{{ reservation.start_date | uppercase}}</p>
      <p class="end_date">{{ reservation.end_date | uppercase}}</p>
    </div>
  </div>
</div>