<div class="container">
  <p *ngIf="fetchedEmployees.length < 1"> NO EMPLOYEES YET!</p>
  <div class="box">
    <div *ngFor="let employee of fetchedEmployees;" class="single-employee">
      <p class="firstname">{{ employee.firstname | uppercase}}</p>
      <p class="lastname">{{ employee.lastname | uppercase}}</p>
      <p class="email">{{ employee.email | uppercase}}</p>
      <p class="phone">{{ employee.phone | uppercase}}</p>
      <p class="salary"> {{ employee.salary }}</p>
      <p class="work_type"> {{ employee.work_type }}</p>
    </div>
  </div>
</div>