<div class="container">
  <div class="brand">
      HOTEL
  </div>
  <div class="menu-items">
      <ul>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>HOME</p></a></li>
          <li><a routerLink="/reservation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>RESERVATION</p></a></li>
          <li><a routerLink="/review" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>REVIEWS</p></a></li>
          <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>ABOUT</p></a></li>
      </ul>
  </div>
</div>