<div class="container">
  <div class="form-container">
      <div class="title">FIND YOUR RESERVATIONS</div>
      <form [formGroup]="modelForm">
          <div class="customer-details">
              <input type="text" name="email" formControlName="email" placeholder="Email" required>
              <span *ngIf="formErrors.get('email')">{{ formErrors.get('email') | uppercase}}</span>
          </div>
      </form>
      <div class="buttons">
          <button class="add" (click)="onSubmit(modelForm)">FIND RESERVATIONS</button>
          <!-- <button class="back"(click)="onGoBack()">BACK</button> -->
      </div>
  </div>
  <p class="ctc" *ngIf="fetchedReservations.length >= 1">CLICK A RESERVATION TO CANCEL IT!</p>
  <p class="info" *ngIf="fetchedReservations.length < 1">NO INFO FOUND!</p>
  <div class="box" *ngIf="fetchedReservations.length >= 1">
    <div *ngFor="let reservation of fetchedReservations;" class="reservation" (click)="cancelReservation(reservation._id)">
      <p class="room_id">{{ reservation.room_number }}</p>
      <p class="status">{{ reservation.status | uppercase}}</p>
      <p class="start_date">{{ reservation.start_date | uppercase}}</p>
      <p class="end_date">{{ reservation.end_date | uppercase}}</p>
    </div>
  </div>
</div>