<div class="container">
  <div class="brand">
      HOTEL
  </div>
  <div class="menu-items">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>RESERVATION</p></a></li>
        <li><a routerLink="/adminpanel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"><p>ADMIN</p></a></li>
        <li><a routerLink="/customerpanel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>CUSTOMER</p></a></li>
        <li><a routerLink="/review" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>REVIEWS</p></a></li>
      </ul>
  </div>
</div>