<div class="container">
  <div class="menu-items">
    <ul>
      <li><a routerLink="/adminpanel/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>ALL CUSTOMERS</p></a></li>
      <li><a routerLink="/adminpanel/singlecust" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>SINGLE CUSTOMER</p></a></li>
      <li><a routerLink="/adminpanel/updateres" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p>FIND RESERVATIONS BY DATE</p></a></li>
    </ul>
  </div>
</div>