<div class="container">
  <div class="form-container">
    <div class="title">WRITE A REVIEW</div>
    <form [formGroup]="modelForm">
        <div class="review-details">
            <input type="text" name="name" formControlName="name" placeholder="Name" required>
            <span *ngIf="formErrors.get('name')">{{ formErrors.get('name') | uppercase}}</span>
            <input type="number" name="room_number" formControlName="room_number" placeholder="Room Number" required>
            <span *ngIf="formErrors.get('room_number')">{{ formErrors.get('room_number') | uppercase}}</span>
            <textarea rows="6" cols="52.7" type="text" name="description" formControlName="description" placeholder="Description" required></textarea>
            <span *ngIf="formErrors.get('description')">{{ formErrors.get('description') | uppercase}}</span>
        </div>
    </form>
    <div class="buttons">
        <button class="add" (click)="onSubmit(modelForm)">WRITE</button>
        <!-- <button class="back"(click)="onGoBack()">BACK</button> -->
    </div>
</div>
<div class="box">
  <div class="review" *ngFor="let review of fetchedReviews">
    <p class="name"> {{ review.name | uppercase }}</p>
    <p class="room_number"> {{ review.room_number }}</p>
    <p class="description"> {{ review.description | uppercase }} </p>
  </div>
</div>
</div>